[user]
        name = Jozef Reisinger
        email = jozef.reisinger@telekom.com
[color]
        ui = true
        branch = auto
        diff = auto
        interactive = auto
        status = auto
[core]
        editor = vim
        filemode = false
[github]
        login = jreisinger
        email = jozef.reisinger@gmail.com
[merge]
        tool = vimdiff
[alias]
        s = status
        d = diff --color-words
        l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --name-status
        minor = commit -a -m 'minor change'
[push]
        default = matching
[url "git@github.com:jreisinger/"]
        insteadOf = jreisinger:
