"*":
  core:
    disabledPackages: [
      "spell-check"
    ]
    restorePreviousWindowsOnStart: false
    telemetryConsent: "limited"
  editor:
    autoIndentOnPaste: true
    normalizeIndentOnPaste: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "57a4e154-a69e-4573-9d05-687caffa705b"
  "split-diff":
    ignoreWhitespace: true
  "tabs-to-spaces":
    onSave: "untabify"
  "vim-mode-plus":
    ignoreCaseForSearch: true
  welcome:
    showOnStartup: false
